body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f7ece0;
  color: #333;
}

.container {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
}

h1 {
  text-align: center;
  color: #442009;
  margin-bottom: 20px;
  font-size: 2.5em; 
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.search-bar {
  text-align: center;
  margin-bottom: 20px;
}

.search-bar input[type="search"] {
  padding: 10px;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1em;
}

.search-button {
  padding: 10px 20px;
  background-color: #4b2c11; /* Teal color */
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
  margin-left: 10px;
}

.search-button:hover {
  background-color: #3f250e; 
}

.menu-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.menu-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 10px;
  width: 250px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.menu-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.menu-card h2 {
  font-size: 1.2em;
  padding: 10px;
  margin: 0;
  text-align: center;
  color: #442009;
   text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
  .menu-card {
    width: 100%;
    margin: 10px 0;
  }
}
