.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px;
  background-color: #fcfaf1;
  background-image: linear-gradient(180deg, #d3b49a, #f7e9d9);
}

.card {
 background-color: #ffffff;
  padding: 40px;
  border-radius: 24px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.05);
  width: 350px;
}

.title {
  font-size: 2rem;
  margin-bottom: 16px;
  text-align: center;
  justify-content: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

@media (max-width: 768px) {
  .card {
    padding: 30px 20px;
    border-radius: 24px;
    align-items: stretch;
  }

  .title {
  font-size: 1.8rem;
  justify-content: center;
  }
  
  Button {
    width: 100%;
    max-width: 400px;
  }
}