.create {
  display: flex;
  gap: 32px;
  flex-direction: column;
  padding: 16px 25px;

  @media screen and (min-width: 768px) {
    flex-direction: row;
  }
}

.menu {
  @media screen and (min-width: 768px) {
    width: 70%;
  }
}

.filter {
  display: flex;
  gap: 16px;
  margin: 16px;
  flex-wrap: wrap;
}

.list {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 16px;
  margin-top: 20px;

  .item {
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    background-color: #FFFFFF;
    padding: 16px;
    border-radius: 24px;
    border: 1px solid #CBB799;
  }

  .image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 14px;
    margin-bottom: 10px;
  }

  .bottom {
    margin-top: 10px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .price {
      font-size: 24px;
      color: #d78a32;
    }

    .btnCart {
      display: inline;
    }
  }
}

.form { 
  background-color: #CBB799;
  border: 1.3px solid #3D211A;
  height: fit-content;
  position: sticky;
  top: 20px;
  padding: 24px;
  margin-top: 25px;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;

  @media screen and (min-width: 768px) {
    width: 30%;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;

    .title {
      font-size: 24px;
    }
  }
  
  .input, .cart {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
    background-color: #CBB799;
    border-radius: 16px;
    color: #1c1c1c;
  }


  .cart {
    .item {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .quantity {
        display: flex;;
        gap: 16px;
        align-items: center;
        font-weight: bold;
        .number {
          width: 24px;
          text-align: center;
        }
        button {
          width: 30px;
          height: 30px;
        }
      }
    }
  }
}

.btnFormCart {
display: none;
}

.btnArrow {
  display: none;
}

@media (max-width: 768px) {
  .filter {
    gap: 10px;
    margin: 5px;
    white-space: nowrap;
  }
  .list{
    grid-template-columns: repeat(2,1fr);

    h2 {
      font-size: 18px;
    }

    .image {
      width: 200px;
      height: 100px;
    }

    .bottom {
      margin-top: 6px;

      .price {
        font-size: 20px;
      }

      button {
            height: 35px;
        margin-left: 30px;
      }
      
      .btnCart {
        display: none;
      }
    }
  }

  .form {
    position: static;
    margin-top: 8px;
  }
  
  .btnFormCart {
    display: flex;
    padding: 6px 12px;
    border-radius: 50%;
    background-color: #3D211A;
    border: 1px solid #3D211A;
    color: #fff;
  }

  .btnArrow {
    display: flex;
    border-radius: 0.5rem;
    padding: 6px 12px;
    margin: auto;
    align-items: center;
    width: 20%;
    background-color: #3D211A;
    border: 1px solid #3D211A;
    color: #fff;
  }
}