* {
  box-sizing: border-box;
  margin: 0;
}

 body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #F5F5DC;
  color: #3D211A;
}

 a {
  text-decoration: none;
 }

 button {
  cursor: pointer;
  outline: none;
  border: none;
  background: none;
 }

 p {
  text-wrap: pretty;
  overflow-wrap: break-word;
 }

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
  overflow-wrap: break-word;
  display: flex;
  align-items: first baseline;
  gap: 10px;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}