.button {
  padding: 12px 16px;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
}

.button-primary {
  background-color: #3D211A;
  border: 1px solid #3D211A;
  color: #fff;;
}

.button-secondary {
  background-color: #CBB799;
  color: #3D211A;
  border: 1.5px solid #3D211A;
}