.detail {
  padding: 16px 25px;
  background: linear-gradient(135deg, #f7e9d9 10%, #dbb291 100%);
  min-height: 100vh;
  background-attachment: fixed;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.order {
  display: grid;
  grid-template-columns: 400px 1fr; 
  gap: 24px;
  align-items: start;
}

.info {
  padding: 24px;
  background-color: #3D211A;
  color: white;
  border: none;
  box-shadow: 0 4px 10px rgba(120, 61, 25, 0.05);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-weight: 500;
  font-size: 20px;
}

.info .item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0;
  border-bottom: 1px solid #e0e0e0;
  text-transform: capitalize;
}

.cart h2 {
  font-style: italic;
}

.list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  margin-top: 16px;
}

.list .item {
  background-color: #f4e5cf;
  border: 1px solid #CBB799;
  box-shadow: 0 4px 10px rgba(120, 61, 25, 0.05);
  display: flex;
  align-items: center;
  padding: 12px;
  border-radius: 20px;
  gap: 20px;
}

.image {
  width: 60px;
  height: 60px;
  border-radius: 8px;
  object-fit: cover;
}

.name, .price {
  margin-bottom: 8px;
  font-size: 22px;
  min-height: 30px;
  font-weight: 500;
}

.price {  
  font-weight: bold;
  color: #c86e06;
}

.orderId {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 60px;
  display: block;
  color: #f5d679;
  font-size: 16px;
}

.status {
  font-size: 16px;
}
.total {
  color: #ffd146;
  font-size: 30px;
}